/dist/
/target/
./website/mbaraacom-website
./dashboard/mbaraacom-dashboard
.env
.env.*
!.env.example
_*/
tailwindcss/node_modules/
./website/resources/css/tailwind.css
./dashboard/resources/css/tailwind.css
