# client
client/.DS_Store
client/node_modules
client/build
client/.svelte-kit
client/package
client/.env
client/.env.*
client/!.env.example
client/package-lock.json

# server
server/go.sum
server/uploads/*
!server/uploads/.keep

# IDEs files
**/*.swp
.vscode/
.idea/