{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>Baraa Al-Masri</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta name="description" content="The Dashboard" />
    <meta name="keywords" content="dashboard,go away" />
    {{ template "_imports" }}
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    {{ template "header" }}
    <main class="w-full h-full"></main>
  </body>
</html>
{{ end }}
