{{ define "login" }}
<!doctype html>
<html lang="en">
  <head>
    <title>The Dashboard</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta name="description" content="The Dashboard" />
    <meta name="keywords" content="dashboard,go away" />
    {{ template "_imports" }}
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    {{ template "header" }}
    <main class="w-full h-full p-[100px]">
      <form hx-post="/login" hx-swap="innerHTML" hx-replace-url>
        <input
          class="p-[5px] rounded-[5px]"
          placeholder="Enter Password"
          type="password"
          name="password"
        />
        <button
          class="text-white p-[5px] border-[1px] border-[white] rounded-[5px]"
        >
          Login
        </button>
      </form>
    </main>
  </body>
</html>
{{ end }}
