{{ define "about" }}
<!doctype html>
<html lang="en">
  <head>
    <title>About Baraa</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no"
    />
    <meta
      name="description"
      content="Baraa Al-Masri's Personal Website and Blog"
    />
    <meta
      name="keywords"
      content="dsc,gdsc,mbaraa,Baraa,Baraa Al-Masri,baraa almasri,baraa al-masri,baraa masri,masri"
    />
    {{ template "_imports" }}
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    {{ template "header" }}
    <main class="w-full h-full">
      <div class="h-[90vh] sm:h-auto">
        <div class="px-10 py-5 lg:p-20">
          <h1 class="text-[25px] font-bold text-white">About Me</h1>
          <div class="text-green text-[20px]">{{ .RenderedMarkdown }}</div>
          <hr class="my-10" />
          <h2 class="text-[#ABABAB] text-[17px] mb-3">
            Some of the technologies that I've used:
          </h2>
          <ul class="list-disc block sm:hidden">
            {{ range .Technologies }}
            <li class="ml-[15px] text-white">{{ . }}</li>
            {{ end }}
          </ul>
          <div class="hidden sm:flex gap-32">
            {{ range .BigScreenTechnologies }}
            <ul class="list-disc inline">
              {{ range . }}
              <li class="ml-[15px] text-white">{{ . }}</li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </main>
    {{ template "contact-links" }}
  </body>
</html>
{{ end }}
