{{ define "blog" }}
<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }} - Blogs by Baraa</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta
      name="keywords"
      content="dsc,gdsc,mbaraa,Baraa,Baraa Al-Masri,baraa almasri,baraa al-masri,baraa masri,masri,blog,blogs by baraa,baraa's blog"
    />
    <meta property="og:title" content="{{ .Title }}" />
    <meta name="description" content="{{ .Description }}" />
    <meta name="og:description" content="{{ .Description }}" />
    <meta name="robots" content="index, follow" />

    {{ template "_imports" }}
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    {{ template "header" }}
    <main class="absolute left-[50%] translate-x-[-50%] py-[50px] w-auto">
      <h1
        class="text-white w-[100%] text-center text-[30px] md:text-[40px] font-[1000]"
      >
        {{ .Title }}
      </h1>
      <div
        class="p-[25px] md:p-[40px] text-[18px] m-[18px] text-white text-xl bg-[#212121] rounded-[32px] w-[90vw]"
      >
        {{ .Content }}
      </div>
    </main>

    {{ template "contact-links" }}
  </body>
</html>
{{ end }}
