{{ define "error" }}
<!doctype html>
<html lang="en">
  <head>
    <title>Baraa Al-Masri</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=6, user-scalable=no"
    />
    <meta
      name="description"
      content="Baraa Al-Masri's Personal Website and Blog"
    />
    <meta
      name="keywords"
      content="dsc,gdsc,mbaraa,Baraa,Baraa Al-Masri,baraa almasri,baraa al-masri,baraa masri,masri"
    />
    {{ template "_imports" }}
    <style>
      .err-img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
      }
    </style>
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    {{ template "header" }}
    <main class="text-white flex justify-center items-center">
      <div>
        <img
          src="/resources/images/error-cat.png"
          alt="Sad Error Cat"
          class="err-img"
        />
        <p class="font-[Vistol] text-xl sm:text-3xl w-full text-center">
          Your mad request made the cat cry!
        </p>
      </div>
      {{ template "contact-links" }}
    </main>
  </body>
</html>
{{ end }}
