@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Vistol";
		font-weight: 300;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/VistolSans-Light.otf");
	}
	@font-face {
		font-family: "Vistol";
		font-weight: 1000;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/VistolSans-Black.otf");
	}
	@font-face {
		font-family: "Space";
		font-weight: 400;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/SpaceMono-Regular.ttf");
	}
}
